body {
    margin: 0;
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    letter-spacing: 5px;
    background: url(fon.jpg);
	color: #fff;
	text-align: center;
	position: relative;
}
a {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    float: left;
    margin-left: 25px;
    margin: 30px 50px 0px 0px;
    font-weight: bold;
    font-weight: 900;
}
.header-of-main-page { 
    text-align: right;
    height: auto;
    padding: 20px;
    font-size:25px;
}

img:{
border-radius: 500px;
 }
 
.about-me {
    text-align: right;
    white-space: pre;
    margin-right: 20px;
    letter-Spacing: .1em;
    line-height: 35px;
    font-size: 18px;
}
.foto_about-me {
    float: left;
	width: 500px;
	height: 300px;
	margin-left: 0px;
	margin-bottom: 0px;
	border: 3px solid black;
}
.foto_about-me_one {
	float: left;
	width: 650px;
	height: 300px;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 3px solid black;
}
.foto_about-me_two {
	float: left;
	width: 640px;
	height: 300px;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 3px solid black;
}
.vk-fb {
height: 50px;
margin: 0 auto;
}
footer {
float: right;
position: absolute;
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
text-align: right;
min-width: 900px;
}